@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Minecraft-Regular;
  src: url("/fonts/Minecraft-Regular.otf") format("opentype");
}

:root {
  --inv-background: #c6c6c6;
  --slot-background: #8b8b8b;
  --slot-background-hover: #9f9f9f;
  --slot-shadow: rgba(55, 55, 55, 0.7);
  --slot-inset: #fefefe;

  --button-text: #ddd;
  --button-text-shadow: #000a;
  --button-text-hover: #ffffa0;
  --button-text-hover-shadow: #202013cc;
  --button-background: #999;
  --button-background-hover: rgba(100, 100, 255, 0.45);
  --button-active-inset-dark: #0004;
  --button-active-inset-light: #fff7;
  --button-text-inset-dark: #0006;
  --button-active-text-inset-light: #fff5;
}

body {
  background-image: url("/images/dirt-background.webp");
  background-color: #150F0A;
  margin: 1rem;
  color: #dddddd;
}


.box {
  color: var(--slot-shadow);
  border: solid 8px;
  border-image: url('/border.png') 16 fill;
  padding: 16px;
}

.box-inner {
  background: var(--inv-background);
}